
.DS_Store
example/reference/SaCe_Chr2.dict
.DS_Store
.DS_Store
example/reference/SaCe_Chr2.fasta-enc.2.ngm
example/reference/SaCe_Chr2.fasta.sa
example/reference/SaCe_Chr2.fasta.pac
example/reference/SaCe_Chr2.fasta.fai
example/reference/SaCe_Chr2.fasta.bwt
example/reference/SaCe_Chr2.fasta.ann
example/reference/SaCe_Chr2.fasta.amb
example/reference/SaCe_Chr2.fasta-ht-13-2.2.ngm
Thumbs.db
